In [1]:
from bs4 import BeautifulSoup
import requests

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page = requests.get(url)
soup = BeautifulSoup(page.text,'html')

In [ ]:
print(soup)

In [ ]:
soup.find('table')

In [ ]:
soup.find_all('table')

In [ ]:
table = soup.find_all('table')[1]

In [ ]:
soup.find('table',class_ = 'wikitable sortable')

In [ ]:
world_titles = table.find_all('th')
print(world_titles)

[<th>Rank
</th>, <th>Name
</th>, <th>Industry
</th>, <th>Revenue <br/>(USD millions)
</th>, <th>Revenue growth
</th>, <th>Employees
</th>, <th>Headquarters
</th>]

In [ ]:
world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(columns = world_table_titles)

In [ ]:
column_data = table.find_all('tr')

In [ ]:
for row in column_data[1:]:
  row_data = row.find_all('td')
  indivisual_row_data = [data.text.strip() for data in row_data]
  length = len(df)
  df.loc[length] = indivisual_row_data

In [ ]:
df.to_csv(r'/content/data.csv',index = False)